@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
/*Couleurs :
● Primaire : #FD2D01
● Secondaire : #FFD7D7
● Tertiaire : #4E5166*/

*body {
  font-family: 'Lato', sans-serif;
}

.bg-default-image {
  background-image: url("/images/img1.jpg");
  background-size: 100%;
  height: 150px;
  text-shadow: 2px 2px 8px #4E5166;
}
.active {
  background-color: rgb(222, 222, 232);
}

.pointer {
  cursor: pointer;
}
.Footer {
  background-color: blueviolet;
}